---
import BigOutpostLayout from '../../layouts/BigOutpostLayout.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<BigOutpostLayout>
  <main class='container mx-auto'>
    <div
      class='relative sm:pb-12 sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-48rem))]'
    >
      <div
        class='hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-sage sm:block'
      >
      </div>
      <div class='space-y-16'>


        <article class='relative group'>
          <div
            class='absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl group-hover:bg-slate-50/70 dark:group-hover:bg-slate-800/50'
          >
          </div>
          <svg
            viewBox='0 0 9 9'
            class='hidden absolute right-full mr-6 top-2 text-sage md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block'
          >
            <circle
              cx='4.5'
              cy='4.5'
              r='4.5'
              stroke='currentColor'
              class='fill-amber-100'
              stroke-width='2'></circle>
          </svg>
          <div class='relative'>
            <h3 class='text-2xl font-semibold tracking-tight text-indigo-950 pt-8 lg:pt-0'>
              This is the Title
            </h3>
            <div class='mt-2 mb-4 prose prose-slate prose-a:relative prose-a:z-10 line-clamp-2'>
              You're a dangerous man doing dangerous things in a dangerous world. You're a dangerous man doing dangerous
              things in a dangerous world. You're a dangerous man doing dangerous things in a dangerous world.
            </div>
            <dl class='absolute left-0 top-0 lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]'>
              <dt class='sr-only'>Date</dt>
              <dd class='whitespace-nowrap text-xl  text-gray-500 pt-1 leading-6'>
                <time datetime='2023-06-26T07:00:00.000Z'> Mon, Jun 26, 2023</time>
              </dd>
            </dl>
          </div>
          <a href='#' class='flex items-center text-sm text-sky-500 font-medium'>
            <span class='absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl'></span>
            <span class='relative'>
              Read more
            </span>
            <svg
              class='relative mt-px overflow-visible ml-2.5 text-sky-300 dark:text-sky-700'
              width='3'
              height='6'
              viewBox='0 0 3 6'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-line-join='round'
            >
              <path d='M0 0L3 3L0 6'></path>
            </svg>
          </a>
        </article>


      </div>
    </div>
  </main>

  <main>
    <section>
      <ul>
        {
          posts.map(post => (
            <li>
              <FormattedDate date={post.data.pubDate} />
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BigOutpostLayout>
