---
import BigOutpostLayout from '../../layouts/BigOutpostLayout.astro'
import BlogTimeline from '../../components/BlogTimeline.astro'
---

<BigOutpostLayout>
  <main class='container mx-auto'>
    <BlogTimeline />
  </main>
</BigOutpostLayout>
