---
import BigOutpostLayout from "../../layouts/BigOutpostLayout.astro";
import PlaceCard from '../../components/PlaceCard.astro'

const places = await Astro.glob('./*/*.md')

---

<BigOutpostLayout>

<div class="mx-auto grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
  {
    places.sort((p1, p2) => {
      const d1 = new Date(p1.frontmatter.surveyDate)
      const d2 = new Date(p2.frontmatter.surveyDate)
      return d2.getTime() - d1.getTime()
    }).map(place => <PlaceCard place={place} />)
  }

</div>
  
</BigOutpostLayout>
