
@font-face {
    font-family: HighAlpine;
    src: url("/HighAlpine.otf") format("opentype");
}

@font-face {
    font-family: BellBQ;
    src: url("/BellBQ.otf");
}

@font-face {
    font-family: Inconsolata;
    src: url("/Inconsolata-Light.ttf");
}
