---
import { getCollection } from 'astro:content'
import BigOutpostLayout from '../../layouts/BigOutpostLayout.astro'
import ColorHash from 'color-hash'
const colorHash = new ColorHash({ saturation: 0.9 })
import { getReadableFontColor } from '../../js/color'

export async function getStaticPaths() {
  const tagInfo = {}

  const places = await Astro.glob('../places/*/*.md')
  for (const place of places) {
    const tags = place.frontmatter.tags || []
    for (const t of tags) {
      const info = tagInfo[t]
      if (info) {
        info.places.push(place)
      } else {
        tagInfo[t] = {
          places: [place],
          posts: [],
        }
      }
    }
  }

  const posts = await getCollection('blog')
  for (const post of posts) {
    const tags = post.data.tags || []
    for (const t of tags) {
      const info = tagInfo[t]
      if (info) {
        info.posts.push(post)
      } else {
        tagInfo[t] = {
          places: [],
          posts: [post],
        }
      }
    }
  }

  return Object.keys(tagInfo).map(tag => ({
    params: { tag },
    props: { tag, info: tagInfo[tag] },
  }))
}

const { tag, info } = Astro.props
---

<BigOutpostLayout>
  <h1 class='text-3xl'>{tag}</h1>
  <pre>
    {JSON.stringify(info, null, 2)}
</pre>
</BigOutpostLayout>
