---
import BigOutpostLayout from '../layouts/BigOutpostLayout.astro'
---

<BigOutpostLayout>
  <article class='auto-mx prose prose-slate prose-lg'>
    <h1>About</h1>
    <p>
      <i>The Outpost</i> is where I share my journey of mapping the world. As an aspiring land surveyor, I write about what
      I learn, hoping to share this knowledge with others. I also explore new places and create 3D models, meshes, and maps with my
      drone.
    </p>
    <h2>What sets <i>The Outpost</i> apart?</h2>
    <p>
      At <i>The Outpost</i>, our mission is to provide bespoke and detailed surveying products that go beyond the standard AutoCAD file
      and plat. While we prioritize traditional methods that produce lines and bearings, we also incorporate 3D models of features, meshes,
      and ortho-imagery of the area. What truly sets us apart is our interactive web application, allowing you to view your map easily, and
      all the data will also be available for download.
    </p>
    <h2>Who am I?</h2>
    <p>
      Creating maps has been both my hobby and profession for about 10 years. My journey began with studying Geographic Information
      Science at Oregon State University. After completing my degree in Computer Science at Portland State University, I sought to
      apply my programming skills to a field I'm truly passionate about. As a child, I collected and poured over road maps, which naturally
      led me to pursue GIS. One valuable piece of advice I embraced was that software engineering is a rewarding career, but it becomes
      even more enjoyable when you apply it to a domain you love.
    </p>
    <p>
      After completing my education, I joined SpatialDev, a GIS software consulting company based in Seattle, WA, where I specialized in
      building interactive web and mobile applications. Later, I had the opportunity to work at Apple Maps, where I extensively worked
      with OpenStreetMap data, editing and integrating it into Apple's global map. I also played a crucial role in developing their internal
      map editing application, utilized by map editors and analysts at an industrial scale. My experience has allowed me to dive deep into
      map data workings, including human editing, automated topological correction, and data conflation from various sources.
    </p>
    <p>
      I am proud to hold a license as an FAA Remote Drone Pilot, as well as being certified as a GIS Professional (GISP). My dedication to
      continuous growth in this field led me to enroll in the University of Maine's Survey Engineering Technology program, where I am
      actively working towards becoming a licensed land surveyor.
    </p>
    <h3>Learn More</h3>
    <a href='https://www.linkedin.com/in/nick-hallahan/' target='_blank'>LinkedIn</a>
    <a href='/resume/'>Resume</a>
    <h2>Why is surveying crucial?</h2>
    <p>
      After having worked on building map data covering the extensive road networks worldwide, I have come to realize the importance of
      becoming a licensed land surveyor.
    </p>
    <p>
      As I grow older, my desire to spend more time outdoors has strengthened. Maps have always fascinated me, as they offer a glimpse of
      what we know is there, allowing us to explore and discover new perspectives on the world.
    </p>
    <p>
      Land surveying is a profession that wholeheartedly embraces this pursuit. A survey is not just a map; it serves as a crucial tool in
      Civil Engineering and legal documentation, such as land deeds. Precision is of the essence in our measurements, and we take great care
      in stating our level of confidence, accuracy, and precision in our research and observations. When it comes to land development and
      construction, the observations of the surveyor must be spot-on.
    </p>
    <p>
      The meaning of "correct" in a map depends on its purpose. For instance, using OpenStreetMap data for auto navigation, where some
      sections of rural roads may be off by several meters, is acceptable as it's sufficient for successful vehicle navigation. However,
      when it comes to construction, such as paving a road or building a bridge, precise locations of stakes for pavers become critical.
      Construction projects demand meticulous attention to detail and accuracy, and this is where land surveying plays a vital role. To ensure
      the success of such projects, someone needs to be out in the field, making the necessary measurements.
    </p>
</article>

</BigOutpostLayout>
