---
import BigOutpostLayout from '../layouts/BigOutpostLayout.astro'
---

<BigOutpostLayout>
  <article class='auto-mx prose prose-slate prose-lg'>
    <h1>About</h1>
    <p>
      <i>The Outpost</i> is where I share my journey mapping the world. As an aspiring land surveyor, I write about what
      I learn, hoping to share this with others. I also explore new places and create 3D models, meshes and maps with my
      drone.
    </p>
    <h2>What does <i>The Outpost</i> aspire to do that is unique?</h2>
    <p>
      <i>The Outpost</i> is working towards providing bespoke and detailed surveying products beyond the AutoCAD file
      and plat. When we survey land, we create the standard survey you need, but we include more. The traditional
      methods producing lines and bearings are important, and this will live alongside 3D models of features, meshes,
      and ortho-imagery of the area. Most importantly, we provide an interactive web application to view your map, and
      all of the data will also be availible for download.
    </p>
    <h2>Who am I?</h2>
    <p>
      Creating maps has been both my hobby and job for about 10 years. I began by studying Geographic Information
      Science at Oregon State University. After studying Computer Science at Portland State University, I wanted to
      apply my programming skills to a craft I enjoy. I collected and poured over road maps ever since I was a child, so
      learning GIS seemed like a sensible path forward. One piece of advice I took to heart was that software
      engineering is a rewarding career, but it is even more enjoyable if you can apply it to something domain specific.
    </p>
    <p>
      After school, I went on to work as a software developer at SpatialDev, a GIS software consulting company out of
      Seattle, WA. There I built interactive web and mobile applications. After a few years, I went to work at Apple
      Maps. At Apple, I worked extensively with OpenStreetMap data, ingesting and editing the data into Apple's map of
      the world. I then continued onto the team that built their internal map editing application. My team's application
      is used at an industrial scale by map editors and analysts to produce the map data you experience in Apple
      products. I enjoyed discovering how map data works, particularly regarding human editing, automated topological
      correction, and the transformation and conflation of data coming from different sources.
    </p>
    <p>
      I am a licensed FAA Remote Drone Pilot, as well as a certified GIS Professional (GISP). I will be returning to
      school in 2023, attending the University of Maine's Survey Engineering Techology program, working towards becoming
      a licensed land surveyor.
    </p>
    <h3>Learn More</h3>
    <a href='https://www.linkedin.com/in/nick-hallahan/' target='_blank'>LinkedIn</a>
    <a href='/resume/'>Resume</a>
    <h2>Why surveying?</h2>
    <p>
      Having worked on building map data covering the scope of the world's road network, I am now working towards
      becoming a licensend land surveyor.
    </p>
    <p>
      As I grow older, I want to spend more time outside. The draw of a map is to see what we know is there, and
      explore--find something new and see the world from a different angle.
    </p>
    <p>
      Land Surveying is the profession that embraces this pursuit. A survey is a map that is geared towards Civil
      Engineering and legal documents, such as land deeds. Here it is essential to be exact with our measurements, and
      our research and observations need to state our level of confidence, accuracy, and precision. If any changes to
      the land are to be made, such as construction, it is important that the observations of the surveyor are correct.
    </p>
    <p>
      The purpose of the map dictates what <i>correct</i> means. For example, it is reasonable to use OpenStreetMap data
      for auto navigation where sections of rural roads are off by several meters. It is close enough for successful
      vehicle navigation. On the other hand, when this section of road needs to be paved, or a bridge is to built, the
      location of the stakes for the pavers needs to be more precise. Anything that involves construction requires a lot
      of time and energy, and this makes detail and accuracy essential. For this to happen, someone needs to be out
      in the field to make the needed measurements.
    </p>
  </article>
</BigOutpostLayout>
