---
import BigOutpostLayout from "../layouts/BigOutpostLayout.astro";
import PlaceCard from '../components/PlaceCard.astro'

const places = await Astro.glob('./places/*/*.md')

const featuredPlaces = places.filter(p => p.frontmatter.featured)

---

<BigOutpostLayout>
  <div class="mx-auto max-w-2xl text-center pb-4">
    <h2 class="font-bold tracking-tight text-gray-900 text-5xl">Featured Places</h2>
    <p class="mt-2 text-xl leading-8 text-gray-600">Maps and meshes made with drones.</p>
  </div>

  <div class="mx-auto grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    {featuredPlaces.map(place => <PlaceCard place={place} />)}
  </div>

  <div class="mx-auto max-w-2xl text-center pt-16 pb-4">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Latest Posts</h2>
    <p class="mt-2 text-xl leading-8 text-gray-600">Notes on mapping and land surveying.</p>
  </div>

  
  
</BigOutpostLayout>
