---
const { defaultMap, sceneId, webMapId } = Astro.props
---

<esri-map class='flex-1 h-full esri-map' data-default_map={defaultMap} data-scene_id={sceneId} data-web_map_id={webMapId}>
  <link rel='stylesheet' href='https://js.arcgis.com/4.27/esri/themes/light/main.css' />
  <div class='w-full h-full' id='esri-map'></div>
</esri-map>

<script>
  import esriConfig from '@arcgis/core/config'
  import WebScene from '@arcgis/core/WebScene'
  import WebMap from '@arcgis/core/WebMap'
  import SceneView from '@arcgis/core/views/SceneView'
  import MapView from '@arcgis/core/views/MapView'
  import Zoom from '@arcgis/core/widgets/Zoom'

  import { getMapType } from '../js/place'

  esriConfig.apiKey =
    'AAPK4adc0b980f184e4f9f3d2238c57e6442GANnLd3Fk9mkBzVTdltUQkDcrcWgAAxm_uv1Wfd3YbmP-7a2TAH4wJijLMeAdwxt'

  let view

  class EsriMap extends HTMLElement {
    constructor() {
      super()
      const dataset = this.dataset
      initMap(dataset)

      window.addEventListener('hashchange', () => {
        view.destroy()
        view.container = null
        view.map = null
        initMap(dataset)
      })
    }
  }

  customElements.define('esri-map', EsriMap)

  function initMap(dataset) {
    const defaultMap = dataset.default_map
    const sceneId = dataset.scene_id
    const webMapId = dataset.web_map_id

    let mapType = getMapType(defaultMap, sceneId, webMapId)

    let map

    if (mapType === '3d') {
      map = new WebScene({
        portalItem: {
          id: sceneId,
        },
      })
      view = new SceneView({
        map,
        container: 'esri-map',
        ui: {
          components: [],
        },
      })
    } else {
      map = new WebMap({
        portalItem: {
          id: webMapId,
        },
      })
      view = new MapView({
        map,
        container: 'esri-map',
        ui: {
          components: [],
        },
      })
    }

    // Create a custom Zoom widget and position it at the bottom right
    const zoom = new Zoom({
      view,
      layout: 'bottom-right',
    })

    // Add the custom Zoom widget to the view
    view.ui.add(zoom, {
      position: 'bottom-right',
    })
  }
</script>
