---
---

<span class="inline-flex rounded-md shadow-lg font-Inconsolata bg-sage">
    <a class="border border-amber-100 text-amber-100 hover:bg-sage-darker hover:text-white rounded-l-md px-2" href={`${Astro.url}/3d`}>🌍 3D</a>
    <a class="border border-amber-100 text-amber-100 hover:bg-sage-darker hover:text-white rounded-r-md px-2" href=`${Astro.url}/2d`>🗺️ 2D</a>
</span>
