---
const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class="p-4" {...props}>
	{props.emoticon} <span class=`${isActive && 'underline'}`><slot/></span>
</a>
