---
const { img } = Astro.props
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core/index.min.css" />
<div id="pano" class="absolute w-full left-0 right-0 h-[768px]"></div>
<div style="height: 768px"></div>

<script>

  import { Viewer } from '@photo-sphere-viewer/core';
  
  const _ = new Viewer({
      container: document.querySelector('#pano'),
      panorama: '/sky/pano.jpg',
      caption: 'Sky Park, Scotts Valley, CA, USA',
      minFov: 1,
      mousewheelCtrlKey: true,
  });
  
  </script>
