---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header class="text-center bg-green-200 p-8">
        <h1 class="text-8xl p-8">The Outpost</h1>
        <nav class="text-2xl p-4">
            <a class="p-4" href="/">Home</a>
            <a class="p-4" href="/places">Places</a>
            <a class="p-4" href="/blog">Blog</a>
            <a class="p-4" href="/tags">Tags</a>
            <a class="p-4" href="/about">About</a>
        </nav>
    </header>
    
    <main class="p-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
