---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import '../styles/global.css'

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header class="text-center bg-lime-300 p-8">
        <h1 class="text-9xl p-8 text-orange-600 font-HighAlpine">The Outpost</h1>
        <nav class="text-3xl p-4 font-Inconsolata">
            <a class="p-4" href="/">Home</a>
            <a class="p-4" href="/places">Places</a>
            <a class="p-4" href="/blog">Blog</a>
            <a class="p-4" href="/tags">Tags</a>
            <a class="p-4" href="/about">About</a>
        </nav>
    </header>
    
    <main class="p-16 bg-amber-100 font-BellMT">
      <slot />
    </main>
    <Footer />
  </body>
</html>
