<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    <div class="flex flex-row h-screen">
      <div class="bg-red-300 grow">Left</div>
      <div class="bg-blue-300 w-[768px]">Right</div>
    </div>
  </body>
</html>
